html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.custom-icon-padding {
    padding-top: 1%;
}

.custom-padding-1em {
    padding: 1em;
}

.custom-padding-02em {
    padding: 0.2em;
}

.custom-padding-left-02em {
    padding-left: 0.2em;
}

.custom-font-size {
    font-size: 0.8em !important;
}

.tabs .tab,
a {
    color: darkorange;
    font-weight: normal;
}

.tabs .tab:focus.active,
a.active a:focus {
    background-color: rgba(255, 191, 131, 0.2);
    color: orangered;
    font-weight: bold;
}

.input-custom-border:focus {
    color: #444;
    border-bottom: 1px solid orange !important;
    box-shadow: 0 1px 0 0 orange !important;
}

.label-custom-color {
    color: orange !important;
}

.custom-margin-auto {
    width: max-content !important;
    margin-left: auto;
    margin-right: auto;
}

.custom-inline-tag {
    display: flex;
    flex-direction: row;
}